<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="p-3">
  <div class="container">
    <!-- Search -->
    <div class="form-group row mb-3">
      <label for="query" class="col-sm-2 col-form-label">Search</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" formControlName="KEYWORDS" placeholder="Search by keywords..." />
      </div>
    </div>

    <!-- Location (Province, District, Subdistrict) -->
    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
        <ng-select [items]="provinces" bindLabel="provinceNameTh" bindValue="id" [ngStyle]="{ width: '100%' }"
          (change)="onProvinceChange($event)" placeholder="เลือกจังหวัด" [searchable]="true" [clearable]="true"
          formControlName="PROVIND">
        </ng-select>

        <div class="mt-2">
          <ng-select [items]="filteredDistricts" bindLabel="districtNameTh" bindValue="id"
            (change)="onDistrictChange($event)" placeholder="เลือกอำเภอ" [searchable]="true" [clearable]="true"
            formControlName="DISTRICT">
          </ng-select>
        </div>

        <div class="mt-2">
          <ng-select [items]="filteredSubdistricts" bindLabel="subdistrictNameTh" bindValue="id" placeholder="เลือกตำบล"
            [searchable]="true" [clearable]="true" formControlName="SUBDISTRICT">
          </ng-select>
        </div>
      </div>
    </div>

    <!-- Property Type, Bedrooms, Bathrooms -->
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="type">Property Type</label>
        <ng-select [items]="Property_type" bindLabel="key" bindValue="value" placeholder="Select type"  formControlName="PROPERTY_TYPE">
        </ng-select>
      </div>
      <div class="col-md-4">
        <label for="bedrooms">Bedrooms</label>
        <select id="bedrooms" formControlName="BEDROOM" class="form-control" placeholder="จำนวนห้องนอน" >
          <option value="0">Any</option>
          <option value="1">1+ Bedroom</option>
          <option value="2">2+ Bedrooms</option>
          <option value="3">3+ Bedrooms</option>
          <option value="4">4+ Bedrooms</option>
          <option value="5">5+ Bedrooms</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="bathrooms">Bathrooms</label>
        <select id="bathrooms" formControlName="BATHROOM" class="form-control" placeholder="จำนวนห้องน้ำ">
          <option value="0">Any</option>
          <option value="1">1+ Bathroom</option>
          <option value="2">2+ Bathrooms</option>
          <option value="3">3+ Bathrooms</option>
          <option value="4">4+ Bathrooms</option>
        </select>
      </div>
    </div>

    <!-- Price Range -->

    <div class="row mb-3">
      <label for="query" class="col-md-4 col-form-label">Price Range</label>
      <div class="col-md-3">
        <input class="form-control" type="text" formControlName="PRICE_MIN" placeholder="Min price" />
      </div> <label for="query" class="col-1 col-form-label">-</label>
      <div class="col-md-3">
        <input class="form-control" type="text" formControlName="PRICE_MAX" placeholder="Max price" />
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="form-group row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary w-100"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-secondary w-100" (click)="onClear()">Clear</button>
      </div>
    </div>
  </div>
</form>