.card-hover:hover {
    background-color: #71a3f32f;
    cursor: pointer;
}
.card-layout{
    display: flex;
    flex-direction: column;
}
.tag-sell{
    color: rgb(30, 0, 199) !important;
}
.flex-item {
    /* justify-content: space-around; */ 
  }
  .badge{
    margin:0.3%
  }