.gallery-iayout {
    display: flex;
    justify-content: center;
}

.gallery {
    width: 25%;
}

.content-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media (max-width: 480px) {

    .filter-content{
        display: none;
    }
}