aside.main-sidebar {
    overflow: hidden; /* Prevents both vertical and horizontal scroll bars */
    height: 100vh; /* Ensures the sidebar takes up the full viewport height */
    z-index: auto;
  }
   

  app-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

app-top.hide-on-scroll {
  transform: translateY(-100%);
}