<div class="dashboard-container">
    <div class="filter-section col-12 filter-custom">
        <div class="filter-control">
            <app-property-filter (filterChanged)="onFilterChanged($event)"></app-property-filter>
        </div>
    </div>
    <div class="row card-container-grid" [ngClass]="{ 'loading': isLoading, 'loaded': !isLoading}">
        <div class="card" *ngFor="let item of paginatedItems; let i = index" (click)="onClick(item)">
            <div class="card-body">
                <div class="gallery">
                    <img *ngFor="let img of item.images; let imgIndex = index" [src]="img.url"
                        [alt]="'Gallery image ' + (i + 1) + '.' + (imgIndex + 1)"
                        (click)="openImageModal(item.images, imgIndex); $event.stopPropagation()">
                </div>
                <span class="card-title">{{ item.title }}</span>
                <span class="card-text">This is item number {{ i + 1 }}.</span>
                <span class="font-custom-location">location,location2</span>
            </div>
        </div>
    </div>
    <!-- Pagination Controls -->
    <div class="pagination-controls">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <button *ngFor="let page of [].constructor(totalPages()); let p = index" (click)="setPage(p + 1)"
            [class.active]="currentPage === p + 1">
            {{ p + 1 }}
        </button>
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages()">Next</button>
    </div>
</div>