 <div class="dashboard-container">
    <div class="filter-section col-12">
        <h3>Filter</h3>
        <div class="filter-control"> 
            <app-property-filter (filterChanged)="onFilterChanged($event)"></app-property-filter>

        </div>
    </div>
    <div class="row card-container-grid" [ngClass]="{ 'loading': isLoading, 'loaded': !isLoading}">
        <div class="card" *ngFor="let item of paginatedItems; let i = index">
            <div class="card-body">
                <div class="gallery">
                    <img *ngFor="let img of item.images; let imgIndex = index" [src]="img"
                        [alt]="'Gallery image ' + (i + 1) + '.' + (imgIndex + 1)"
                        (click)="openImageModal(item.images, imgIndex)">
                </div>
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">This is item number {{ i + 1 }}.</p>
            </div>
        </div>
    </div>
    <!-- Pagination Controls -->
    <div class="pagination-controls">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <button *ngFor="let page of [].constructor(totalPages()); let p = index" (click)="setPage(p + 1)"
            [class.active]="currentPage === p + 1">
            {{ p + 1 }}
        </button>
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages()">Next</button>
    </div>
</div>